body {
  margin: 0;
  font-family: Poppins;
}

p {
  margin: 0px;
}

.navbar {
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.hero-container {
  margin-top: 26px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.hero-info-container {
  padding-left: 36px;
}

.hero-header {
  font-size: 36px;
  margin-bottom: 16px;
}

.description {
  margin: 0px;
  max-width: 320px;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 176px;
  font-size: 12px;
  margin-left: 36px;
  margin-top: 50px;
}

.card-image {
  width: 176px;
  height: 235px;
  margin-bottom: 9px;
}

.star-icon {
  margin-right: 4px;
}

.activity {
  margin-top: 6px;
  margin-bottom: 6px;
}

.grey-text {
  color: #918E9B;
}